.sectionTitleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.sectionTitleContainer h1 {
    font-size: 2rem;
    font-weight: bold;
    /* color: rgb(118, 0, 118); */
    background: linear-gradient(to right, rgb(80, 0, 80), rgb(247, 74, 247));
    -webkit-background-clip: text;
    color: transparent;
}

.sectionTitleContainer>div {
    height: 5px;
    /* background-color: rgb(255, 0, 255); */
    background: linear-gradient(to right, rgb(80, 0, 80), rgb(247, 74, 247));
    width: 33%;
}

@media (max-width:752px) {
    .sectionTitleContainer {
        /* justify-content: center; */
        padding: 2rem 1rem;
    }

    .sectionTitleContainer h1 {
        font-size: 1.5rem;
    }

    .sectionTitleContainer>div {
        width: 33%;
    }
}

@media (max-width: 547px) {
    .sectionTitleContainer {
        padding: 2rem 1rem;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .sectionTitleContainer>div {
        width: 100%;
    }
}